{% extends 'store/base.html' %}

{% block content %}
<section id="add-product" class="shipping-informations   ">
        
    <h4>Add Product</h4>
    <form method="POST" enctype="multipart/form-data" action="{% url 'add-product' %}" class=" ">
        {% csrf_token %}
        <fieldset class="form-field">
            {{ p_form.non_field_errors }}
            {% for field in p_form %}
                <div class="fieldWrapper  ">
                    {{ field.errors }}
                    <div class="field-n-label  ">
                        {{ field.label_tag }} {{ field }}
                    </div>
                    <!-- {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %} -->
                </div>
            {% endfor %}
            {{ formset.management_form }}
            {% for form in formset %}
            <div class="field-n-label image-field" >
                {{ form.errors }}
                {% for field in form %}
                <div class="image-field">
                    {{ field }} 
                </div>
                    
                {% endfor %}
            </div>
               
            {% endfor %}
        </fieldset>
        <button class="btn-ls" type="submit">Submit</button>
    </form>
       
    </section>

{% endblock content %}