{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'store/css/style.css' %} ">
    <link rel="stylesheet" type="text/css" href="{% static 'store/css/login_signup_style.css' %} ">
    <link rel="stylesheet" type="text/css" href="{% static 'store/css/cart.css' %} ">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'store/js/store.js' %}"></script>
    <title>Shopop</title>
</head>
<body>
    <div class="">

    
    <header class="main-header">
        <h3>Welcome</h3>
    </header>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Shopop</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ">
              <!-- <a class="nav-link active" aria-current="page" href="#">Home</a> -->
              <a class="nav-link" href="#">Features</a>
              <a class="nav-link" href="#">Pricing</a>
              <!-- <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> -->
              
            </div>
            <div class="nav-right">
              {% if user.is_authenticated %}
                  <p>{{ user.username }}</p>
                  <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                  <button id="cart-btn" class="cart-btn" ><small id="total-item">0</small></button>
                  
              {% else %}
                  <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                  <!-- <button id="cart-btn" class="cart-btn" ><small>10</small></button> -->
                  <!-- <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>     -->
              {% endif %}  
            </div>
          </div>
        </div>
      </nav>
    <main class="main">
        <section class="block-content">
            {% block content %}
        
            {% endblock %}
        </section>
        
        <section id="cart" class="cart" >
          <header class="cart-header">
              <small>Cart</small>
             
              <button id="close-cart" class="close-cart">
                  x
              </button>
          </header>
          <div class="cart-container" id="cart-container">
            
              
              <div class="cart-items" id='cart-items'>
                  <!-- <div class="cart-item" id="cart-item">
                      <section class="item-img">
                        <img src="/media/images/Watch.jpg"  alt= "image" />
                      </section>
                     <section class="cart-items-details">
                        <p>Rolex</p>
                        <p>100$</p>
                     </section>
                      <section class="item-action">
                          <button>+</button>
                          1
                          <button>-</button>
                      </section>
                  </div> -->
              </div>
             
              <form action="{% url 'shipping-address' %}" class="checkout-form">
                  {% csrf_token %}
                  <button class="checkout-btn" id="checkout">Checkout</button>
              </form>
              <!-- <a href="{% url 'shipping-address' %}" class="checkout-btn" id="checkout">Checkout</a> -->
              
          </div>
      </section>
    </main>
    
    <footer class='footer'>
        &copy; 2021, Shopop
    </footer>
    <script>
      //function for cart view
      $(document).ready(function(){
               setInterval(function(){
                   $.ajax({
                       method:'POST',
                       url: "{% url 'cart' %}",
                       data : {
                            csrfmiddlewaretoken: '{{csrf_token}}',
                            user_id: '{{ request.user.id }}',
                       },
                       success:function(response){

                        var myObj = JSON.parse(response);
                           console.log("Success get data");
                      
                           console.log(myObj[0].image);
                           $("#cart-items").empty();
                           var total_item = 0;
                           for (var i=0 in myObj){
                            console.log(myObj[i].product_name);
                //                var temp = `<div class="cart-item" id="cart-item">
                //     <section class="item-unit flex-center">
                //         ${myObj[i].quantity}
                //     </section>
                //     <section class="name flex-center" id="current-p-name">
                //         ${myObj[i].product_name}
                //     </section>
                //     <section class="price flex-center">
                //         ${myObj[i].price}$
                //     </section>
                //     <section class="item-action flex-center">
                //         <button class='rm-cart-item' id='rm-cart-item' value=" ${myObj[i].product_id}">x</button>
                //     </section>
                // </div>`;

                        var temp = `<div class="cart-item" id="cart-item">
                      <section class="item-img">
                        <img src="${myObj[i].image}"  alt= "image" />
                      </section>
                     <section class="cart-items-details">
                        <p>${myObj[i].product_name}</p>
                        <p>${myObj[i].unit_price} $</p>
                     </section>
                      <section class="item-action">
                          <button>+</button>
                          ${myObj[i].quantity}
                          <button>-</button>

                      </section>
                      <section class="item-action flex-center">
                        <button class='rm-cart-item' id='rm-cart-item' value=" ${myObj[i].product_id}">x</button>
                    </section>
                  </div>`
                // $("#cart-items").append("<p>Hi</p>");
                            total_item ++;
                            $("#cart-items").append(temp);
                            
                            console.log("Success call");
                           };
                           document.getElementById("total-item").innerHTML = total_item.toString();

                           
                           

                       },
                       error:function(){
                           console.log("An Error Occured");

                       },
                   });

               },500);
           });

           // show and hide cart
        $("#cart-btn").click(function () {
                $("#cart").toggle("slow");
                // $( ".products" ).addClass( "wd-75" );
            });

            $("#close-cart").click(function () {
                $("#cart").toggle("slow");
                // $( ".products" ).addClass( "wd-75" );
            }); 

    </script>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
</body>
</html>