{% extends 'store/base.html' %}

{% block content %}
    <div class="dashboard">
        <section class="navigation-bar">
            <ul>
                <li>
                    <a href="#" class="nav-active">
                        <span id = "nav-overview" class="nav-icon ">
                            
                        </span>
                        <span class="nav-name">
                            Overview
                        </span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span id="nav-products" class="nav-icon">
                            
                        </span>
                        <span class="nav-name">
                            Products
                        </span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span id="nav-orders" class="nav-icon">
                            
                        </span>
                        <span class="nav-name">
                            Orders
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span id="nav-customers" class="nav-icon">
                            
                        </span>
                        <span class="nav-name">
                            Customers
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span id="nav-messages" class="nav-icon">
                            
                        </span>
                        <span class="nav-name">
                            Messages
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span id="nav-settings" class="nav-icon">
                            
                        </span>
                        <span class="nav-name">
                            Settings
                        </span>
                    </a>
                </li>
            </ul>
        </section>
    </div>
{% endblock content %}