<div class="dash-overview">
<section class="do_sec_1">
    <div class="mini-summary">
        <ul>
            <li class="total-sales">
                <strong>193844$</strong>
                <p>Total Sales</p>
            </li>
            <li class="">
                <strong>10716$</strong>
                <p>Total Expenses</p>
            </li>
            <li class="">
                <strong>79099$</strong>
                <p>Total Profit</p>
            </li>
            <li class="">
                <strong>1699</strong>
                <p>New Users</p>
            </li>
        </ul>
    </div>
    <div class="recent-orders">
        <h5>Recent Orders</h5>
        <ul>
            <li class="dash-product first-row">
                <div>Date</div>
                <div>Customer</div>
                <div>Status</div>
                <div >Total</div>
            
            </li>
        {% for order in recent_orders %}
            <!-- <li>{{ product.product_name }} - {{ product.unit_price }} - {{ product.current_stock }}</li> -->
            <li class="dash-product">
                <div>10-10-2021</div>
                <div >{{ order.user }}</div>
                <div class="delivery-status">Pending</div>
                <div>149.99$</div>
            </li>
        {% empty %}
            <li>No product yet.</li>
        {% endfor %}
        </ul>
    </div>

    <div class="top_products">
        <h5>Top Products</h5>
        <ul>
            <li class="dash-product first-row">
                <div>Photos</div>
                <div class="dash-product-name">Name</div>
                <div>Date</div>
                <div>Category</div>
                <div>Brand</div>
                <div>Price</div>
                <div>Status</div>
            
            </li>
        {% for p in top_products %}
            <!-- <li>{{ product.product_name }} - {{ product.unit_price }} - {{ product.current_stock }}</li> -->
            <li class="dash-product">
                <div> <img class="sm-img" src="{{ p.productimages_set.first.image.url }}" alt="Image"></div>
                <div class="dash-product-name">{{ p.product_name }}</div>
                <div >10-10-2020</div>
                <div>{{p.category}}</div>
                <div>-</div>
                <div>149.99$</div>
                {% if p.current_stock > 1 %}
                <div>In Stock</div>
                {% else %}
                <div>In Stock</div>
                {% endif %}
                
                
            </li>
        {% empty %}
            <li>No product yet.</li>
        {% endfor %}
        </ul>
    </div>

</section> 
<section class="do_sec_2">
    <div id="top_category" class="top_category">
        <div class="loader"></div>
    </div>
    <div id="sales-barchart" class="sales-barchart">
        <h5>Sales in this week</h5>
        <!-- <img src="./media/barchart.png" /> -->
    </div>

</section> 


</div>
<script>
    //function to load pie chart for top products

$(document).ready(function() {
    $("#top_category").empty();
  $('#top_category').load("{% url 'piechart' %} ",
          function () {
          //   alert("Load was performed.");
          });
        
    // function for update barchart
    $('#sales-barchart').empty();
    $('#sales-barchart').load("{% url 'barchart' %} ",
            function () {
            //   alert("Load was performed.");
            });
        
    });

// function for update barchart
// $(document).ready(function() {
  
//   $('#sales-barchart').load("{% url 'barchart' %} ",
//           function () {
//           //   alert("Load was performed.");
//           });
        
// });


</script>