<div class="dash-overview">
    <div class="recent-orders">
        <h3>Recent Orders</h3>
        <ul>
            <li class="dash-product first-row">
                <div>Date</div>
                <div>Customer</div>
                <div>Status</div>
                <div >Total</div>
            
            </li>
        {% for order in recent_orders %}
            <!-- <li>{{ product.product_name }} - {{ product.unit_price }} - {{ product.current_stock }}</li> -->
            <li class="dash-product">
                <div>10-10-2021</div>
                <div >{{ order.user }}</div>
                <div class="delivery-status">Pending</div>
                <div>149.99$</div>
            </li>
        {% empty %}
            <li>No product yet.</li>
        {% endfor %}
        </ul>
    </div>

</div>