{% extends 'store/base.html' %}

{% block content %}
    <div class="dashboard">
        <section class="navigation-bar">
            <ul>
                <li>
                    <a href="#">
                        <span class="nav-icon">
                            icon
                        </span>
                        <span class="nav-name">
                            Overview
                        </span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="nav-icon">
                            icon
                        </span>
                        <span class="nav-name">
                            Products
                        </span>
                    </a>
                </li>
            </ul>
        </section>
    </div>
{% endblock content %}