{% extends 'store/base.html' %}

{% block content %}
<div class="gen-div">
    <section class="products">
        
        {% for p in products %}
        <div class="product-card">
            <figure class="card-image">
                {% load static %}
                <!-- <img src="{% static 'store/img/headphone-nbg.png' %}" alt="headphone image"> 
                -->
                {% if p.productimages_set %}
                <!-- <img src="{{ p.product_img.url }}"   /> -->
                <!-- {% for image in p.productimages_set.all %}
                    <img src="{{ image.image.url }}">
                {% endfor %} -->
                <img src="{{ p.productimages_set.first.image.url }}" alt="{{p.product_name}} image"/>
                {% endif %}
            </figure>
            <div class="card-item-details">
                <p class="p-name">{{p.product_name}}</p>
                <p>{{p.unit_price}}$</p>
                <label>Quantity</label>
                <input id="p-qty" class="p-qty" type="number" value="1" >
                <button id="add-btn" class="add-btn" data-id="{{p.id}}" data-url="{% url 'add-to-cart' %}"  class="add-btn" name="button" >Add to Cart</button>
            </div>
            
        </div>
        {% endfor %}
        <!-- <div id="cart" style="height:100px; width:100px; background: red;">

        </div> -->
        

    </section>
    
</div>

    <script>
        // $(document).on("click","#add-btn",function(e){
        //     test('rubel');
        // });
    //     $(document).on("click","#add-btn",function(e){
    //         e.preventDefault();
    //     var args = {
    //         url: "{% url 'add-to-cart' %}",
    //         data: {
    //             user_id : '{{ request.user.id }}',
    //             product_id : $(this).val(),
    //             csrfmiddlewaretoken: '{{ csrf_token}}',
    //         },
    //     };
    //     addToCart(args);
    // });

        // //fuction for add item to the cart
        // $(document).on("click","#add-btn",function(e){
        //     // var user_id = '{{ request.user.id }}';
        //     var id = $(this).val();
        //        e.preventDefault();
        //        $.ajax({
        //            method:"POST",
        //            url: "{% url 'add-to-cart' %}",
        //            data:{
        //                 user_id : '{{ request.user.id }}',
        //                 product_id : $(this).val(),
        //                 csrfmiddlewaretoken: '{{ csrf_token}}',

                        
        //            },
                   
        //         success: function(response){
        //             var myObj = JSON.parse(response);
        //             console.log(myObj.user_id+' '+myObj.product_id);
        //             console.log('data successfully send');
        //         },

        //         error: function(){
        //             console.log("something went wrong");
        //         },
        //        });

        //    });
        
        //    remove cart item

        
    </script>
{% endblock %}