{% extends 'store/base.html' %}

{% block content %}
    <section class='payment flex-col-center'>
      <!-- {{s_informations.name}} -->
      <div class="orderitems">
          <!-- {% for item in order_items %}
            <p>{{item.product.product_name}}</p>
            <p>{{item.product.product_code}}</p>
          {% endfor %} -->
      </div>
      <div class="payment-options">
        <h3>Select Payment Option</h3>
        <button id="online-payment" data-url="{% url 'payment-method' %} #method-po" class="payment-option">Pay Online</button>
        <button id="cash-on-delivery" data-url="{% url 'payment-method' %} #method-cod" class="payment-option">Cash on Dalivery</button>
      </div>
      <section id="payment-method" class="payment-method">

      </section>
    </section>
    
   
    <script>
      // $(document).ready(function () {
      //     $('#payment-method').load("{% url 'payment-method' %}",
      //       function () {
      //         alert("Load was performed.");
      //       });
      //   });
       
//       $(document).ready(function() {
//   $("#cash-on-delivery").on("click", function() {
//     $('#payment-method').load("{% url 'payment-method' %} #method-cod",
//             function () {
//               // alert("Load was performed.");
//             });
//           });
// });


    </script>
    
{% endblock content%}
