{% extends 'store/base.html' %}

{% block content %}
    <style>
        .cart-qty-details input{
            width: 80px;
            height: 30px;
            text-align: center;
        }
    </style>
    <section class="product-details ">
        
        <div class="pd-img-sec">
            <div class="p-image" id="p-image">
                <img src="{{ product.productimages_set.first.image.url }}" />
            </div>
            <div class="p-image-nav">
                <ul>
                     {% for image in product.productimages_set.all %}
                     <li>
                         <!-- <button class="product-image-nav" data-p-image-url="{{ image.image.url }}">
                            <img  src="{{ image.image.url }}"   alt="image"/>
                         </button> -->
                         <img  src="{{ image.image.url }}" class="product-image-nav" data-p-image-url="{{ image.image.url }}"  alt="image"/>

                    </li>
                    <!-- <img src="{{ image.image.url }}"> -->
                    {% endfor %}
                    <!-- <li>
                        <img src="{{ product.product_img.url }}"  alt="image"/>
                    </li> -->
                    
                </ul>
            </div>
        </div>
        <div class="p-details">
            <!-- <h1>{{ product.product_name }}</h1>
            <p>Product Code: {{ product.product_code }}</p> 
            <p>{{product.unit_price}} $</p>
            {% if product.current_stock >= 0 %}
                <p> Status : In Stock</p>
            {% else %}
            <p> Status : Out of Stock</p>
            {% endif %} -->
            <h1>Gji Dple</h1>
            <label>Brand: <span>N/A</span></label>
            <small>In Stock</small>
            <div class="product-price">
                <label>Price: <span>200</sapn></label>
            </div>
            <div><span>1</span>KG</div>
            <div class="cart-option">
                <div class="cart-qty-details">
                    <form >
                        
                        <label>Quantity</label>
                        <input id="p-qty" class="p-qty" type="number" pattern="^[0-9]" min="1"  value="1" oninput="validity.valid||(value='');">
                        <button id="add-btn" class="add-btn" type="submit" data-id="{{ product.id}}" data-url="{% url 'add-to-cart' %}" name="button" > Add to Cart</button>
                    </form>
                    
                </div>
                <div>
                    
                </div>
            </div>

        </div>
    
    </section>
{% endblock content %}