<a id="add-product-nav" href="{% url 'add-product' %} ">Add Product</a>
<h5>Products</h5>
<ul>
    <li class="dash-product first-row">
        <div>SL</div>
        <div>Image</div>
        <div class="dash-product-name">Product</div>
        <div>Product Code</div>
        <div>Unit Price</div>
        <div>Current Stock</div>
    </li>
{% for product in object_list %}
    <!-- <li>{{ product.product_name }} - {{ product.unit_price }} - {{ product.current_stock }}</li> -->
    <li class="dash-product">
        <div>{{ forloop.counter }}</div>
        <div>image</div>
        <div class="dash-product-name">{{ product.product_name }}</div>
        <div>{{ product.product_code }}</div>
        <div>{{ product.unit_price }}</div>
        <div>{{ product.current_stock }}</div>
    </li>
{% empty %}
    <li>No product yet.</li>
{% endfor %}
</ul>
