{% extends 'store/base.html' %}

{% block content %}
    <style>
        .cart-qty-details input{
            width: 80px;
            height: 30px;
            text-align: center;
        }
    </style>
    <section class="product-details ">
        
        <div class="pd-img-sec">
            <div class="p-image" id="p-image">
                <img class="main-product-img" src="{{ product.productimages_set.first.image.url }}" />
            </div>
            <div class="p-image-nav">
                <ul>
                     {% for image in product.productimages_set.all %}
                     <li>
                         <!-- <button class="product-image-nav" data-p-image-url="{{ image.image.url }}">
                            <img  src="{{ image.image.url }}"   alt="image"/>
                         </button> -->
                         <img  src="{{ image.image.url }}" class="product-image-nav" data-p-image-url="{{ image.image.url }}"  alt="image"/>

                    </li>
                    <!-- <img src="{{ image.image.url }}"> -->
                    {% endfor %}
                    <!-- <li>
                        <img src="{{ product.product_img.url }}"  alt="image"/>
                    </li> -->
                    
                </ul>
            </div>
        </div>
        <div class="p-details">
            <!-- <h1>{{ product.product_name }}</h1>
            <p>Product Code: {{ product.product_code }}</p> 
            <p>{{product.unit_price}} $</p>
            {% if product.current_stock >= 0 %}
                <p> Status : In Stock</p>
            {% else %}
            <p> Status : Out of Stock</p>
            {% endif %} -->
            <h1>{{product.product_name}}</h1>
            <label>Brand: <span>N/A</span></label>
            {% if product.current_stock > 0 %}
            <small>Availability : <span style="color:green;"> In Stock</span></small>
            {% else %}
            <small >Availability :<span style="color:red;"> Out of Stock</span></small>
            {% endif %}
            <div class="product-price">
                <label>Price: <span>{{product.unit_price}}</sapn></label>
            </div>
            <div><span>1</span>KG</div>
            <div class="cart-option">
                <div class="cart-qty-details">
                    <form >
                        
                        <label>Quantity</label>
                        <input id="p-qty" class="p-qty" type="number" pattern="^[0-9]" min="1"  value="1" oninput="validity.valid||(value='');">
                        <!-- <button id="add-btn" class="add-btn" type="submit" data-id="{{ product.id}}" data-url="{% url 'add-to-cart' %}" name="button" > Add to Cart</button> -->
                        {% if user.is_authenticated %}
                        <button id="add-btn" class="add-btn" type="submit" data-id="{{ product.id}}" data-url="{% url 'add-to-cart' %}" name="button" > Add to Cart</button>
                        {% else %}
                        <button style="background-color: bisque;" id="add-btn" class="add-btn-dis" data-id="{{p.id}}"  class="add-btn" name="button" >Add to Cart</button>
                        {% endif %}
                    </form>
                    
                </div>
                <div>
                    
                </div>
            </div>
            <div class="product-details-info">
                <strong>Product Details</strong>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis esse accusantium in, fugiat deserunt aperiam ullam rem porro obcaecati at libero possimus provident omnis corporis! Delectus vero sit hic quia. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae quo suscipit quibusdam ipsa labore nulla enim repudiandae consequuntur possimus corrupti! Assumenda reprehenderit libero delectus quasi vero obcaecati, eos repellendus eligendi.</p>
            </div>

        </div>
    
    </section>
{% endblock content %}