{% extends 'store/base.html' %}
{%load static%}
{% block content %}

<section class="login login-bg flex-col-center">
    <h4>Reset Password</h4>
    <small style="color: azure;">Enter your email,</small>
    <form method="POST" class="form-group">
        {% csrf_token %}
        <fieldset class="form-field">
            {{ form.non_field_errors }}
            {% for field in form %}
                <div class="fieldWrapper">
                    {{ field.errors }}
                    {{ field }}
                    {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div>
            {% endfor %}
        </fieldset>
        <button class="btn-ls" type="submit">Request Password Reset</button>
    </form>
    
   
</section>
    
{% endblock content%}
