
.dashboard{
    display: flex;

    width: 100%;
    min-width: 100%;
    min-height: 100vh;
    background-color: aliceblue;
    
}

.navigation-bar{
    
    /* width: auto; */
    margin: 0;
    display: flex;
    flex-direction: column;
    /* justify-content:  center; */
    align-items: center;
    width: auto;
    min-height: 100vh;
    background-color: whitesmoke;

    /* background-color: rgb(207, 175, 175); */
    /* border-right: 1px solid gray; */
    border-radius: 15px 15px 15px 15px;
   
}
ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding:0;
    list-style: none;
    width: 100%;
}
li{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    width: 100%;
    /* min-height: 6vh; */
    margin: 0;
    padding:0;
    height: 5vh;
    /* background-color: aquamarine; */
    
    border:none;
}
.dashboard a{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    text-decoration: none;
    background-color: rgb(43, 11, 11);
    background-color: whitesmoke;
    color: darkblue;
    /* border: 1px solid black; */
    margin:0;
    padding: 0 10px 0 10px;
    width: 100%;
    height: 100%;
    
}
.dashboard span{
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border:none;
    margin: 0;
    padding:10px;
    
    /* min-height: 5vh; */
}
.dashboard span.nav-icon{
    /* width:30%; */
    width: 2vw;
    /* height: 60%; */
    height: 10px;
   
    padding:10px 20px 10px 20px;
    background-position: center center !important;
    background-repeat: no-repeat !important;
}
.nav-overview{
    background-color: brown;
    background: url('/static/store/icons/overview.svg');
    
}
.icon-products{
    background-color: brown;
    background: url('/static/store/icons/product.svg');
    
}
.nav-orders{
    background-color: brown;
    background: url('/static/store/icons/orders.svg');
    
}
#nav-customers{
    background-color: brown;
    background: url('/static/store/icons/customers.svg') ;
    
}
#nav-messages{
    background-color: brown;
    background: url('/static/store/icons/messages.svg') ;
    
}
#nav-settings{
    background-color: brown;
    background: url('/static/store/icons/settings.svg') ;
    
}
.dashboard span.nav-name{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* display: none; */
    width: 12vw;
    /* min-width: 70%; */
    padding:5px;
    padding-left: 15px;
    /* background-color: cadetblue; */
    font-size: .9em;
    color:black;

}
.nav-active{
    background-color: rgb(133, 211, 231) !important;
    color:rgb(9, 54, 80) !important;
}


.db-content{
    box-sizing: border-box;
    /* padding:20px; */
    margin:0px;
    display: flex;
    flex-direction: column;
    /* justify-content:  center; */
    align-items: center;
    justify-content: start;
    width: auto;
    min-width: 84vw;
    min-height: 100vh;
    /* padding-top: 10px; */
    background-color: aliceblue;
    /* background-color: salmon; */
    font-size: 16px;
}
.db-content h1{
    background-color: rgb(134, 200, 209);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.dash-overview{
    height: 100%;
    width: 100%;
    margin:0px;
    padding:0px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    /* background-color: red; */
}
.do_sec_1{
    box-sizing: border-box;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    margin:0px;
    padding:40px;
    padding-top:0px;
    padding-bottom:0px;
    width: 66%;
    border-left: 3px solid;
    border-right: 3px solid;
    border-color: rgb(208, 221, 223, .4);
}
.do_sec_2{
    box-sizing: border-box;
    margin:0px;
    padding:25px;
    padding-top:0px;
    padding-bottom:0px;
    width: 34%;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.top_category, .sales-barchart{
    margin:25px;
    padding:10px;
    border: 3px solid gray;
    border-color: rgb(208, 221, 223, .4);
}
.top_category img, .sales-barchart img{
    width: 100%;
}
.mini-summary{
    margin:0px;
    /* padding:10px; */
    width: 100%;
    height: 18vh;
    min-height: 18vh;
    /* border: 3px solid gray; */
    /* border-color: rgb(208, 221, 223, .4); */
}
.mini-summary ul{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items:flex-start;
    gap:1.33%;
    justify-content: center;
}
.mini-summary li{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content:flex-start;
    min-width: 24%;
    width: 24%;
    height: 100%;
    padding:2%;
    border: 3px solid gray;
    border-color: rgb(208, 221, 223, .4);
}
.recent-orders, .top_products{
    /* min-width: 60%; */
    margin:0px;
    padding:10px;
    width: 100%;
    height: 35vh;
    border: 3px solid gray;
    border-color: rgb(208, 221, 223, .4);
}
.recent-orders ul, .top_products ul{
    height: 86%;
    
    margin:0px;
}
.dash-overview h5{
    height: 14%;
    margin:0;
}
.recent-orders li, .top_products li{
    height: 16%;
    /* background-color: salmon; */
}
.dash-product-list{
    display: flex;
    flex-direction: column;

}
.dash-product{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: azure;
    margin:1px;
    height: 16%;
}
.first-row{
    background-color: bisque;
    color:rgb(13, 103, 126);
    font-size: 1.2em;
    /* height: 14%; */
}

.dash-product div{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    /* padding:10%; */
    width: 10%;
    /* border-left: 1px solid black; */
    /* border-right: 1px solid black; */
}
.dashboard div.delivery-status{
    box-sizing: border-box;
    border: 1px solid peachpuff;
    padding: 0px;
    background-color: rgb(255,255,204);
}
div.dash-product-name{
    min-width: 25%;
    width:25%;
}
