
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* .bg-light{
    background-color: transparent !important;
} */
.navbar{
    padding-top: 0;
    padding-bottom: 0;
}
.nav-link{
    padding-top: 0;
    padding-bottom: 0;
}
.nav-right{
    
    display: flex;
    align-items: center;
    margin-left: auto;
    width: auto;
}
.nav-right a{
    text-decoration: none;
    color: black;
}
.nav-right p{
    margin: 0;
}
.cart-btn{
    box-sizing: border-box;
    border: none;
    padding: 0;
    min-height: 30px;
    min-width: 50px;
    font-size: .6em;
   
    color: red;
    /* background-color: azure; */
    background: url('/static/store/img/cart.png');
    background-position: 20% center;
    background-repeat: no-repeat;
    background-size: 70%;


}
.cart-btn small{
    display: flex;
    height: 40px;
    width: 100%;
    justify-content: right;
    align-items: flex-start;
}
.cart-btn:hover{
    border: 2px solid rgb(253, 0, 0);
}
.main-header {
    display: flex;
    width: 100%;
    height: 50px;
    align-items:center;
    justify-content: center;
    
    background-color: yellow;

}
h3{
    /* background-color: turquoise; */
    margin: 0;
}
.main{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    min-height: 100vh;
}
.block-content{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
}
.gen-div{
    
   display: flex;
   flex-direction: column;
}
.products{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
    /* width: 100%; */
    width: auto;
    padding: 10px;
}
.page-nav{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding:5px;
    background-color: lightblue;

}
.page-nav li{
    background-color:pink;
    padding: 5px;
    height: auto;
}
.page-nav li a{
   
}
.product-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    
    flex-shrink: 1;
    /* flex-grow: 1; */
    
    height: 300px;
    padding: 5px;
    margin: 5px;
    background-color: white;
    box-shadow: 0 0 0 2px gainsboro;
}
.product-card a{
    margin:0;
    padding:0;
    outline: none;
    color: black;
    text-decoration: none;
    height: inherit;
    width: inherit;
    background-color: transparent;
}
.product-card figure{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-bottom: 0px;
    height: 60%;
    min-height: 60%;
}
.card-image {
    width: 80%;
    height: 60%;
    min-height: 60%;
    padding: 2%;
    
    /* border: 1px solid rgb(5, 51, 78); */
    /* background-color: rgb(147, 163, 117); */
}
.card-image img{
   width: 95%;
   height: 95%;
   
}
.card-image p{
    display: none;
    position: absolute;
    color: black;
    background-color: rgb(159, 168, 118);
    font-size: .7em;
}

.card-image:hover{
    filter: opacity(50%)  brightness(150%);
    cursor: pointer;
}
.card-image:hover p{
    display: block;

}
.card-item-details{
    height: 40%;
    min-height: 40%;
    width: 100%;
    min-width: 100%;
}
.card-item-details p{
    text-align: center;
    font-size: .7em;
    margin:0px;
    padding: 10px;
    height: 33%;
    min-height: 33%;
    
}
.card-item-details input, .card-item-details label{
    display: none;
    width:50px;
}
.product-card p.p-name{
    font-size: .6em;
    
    
}
.add-btn{
    margin: 0;
    background-color: rgb(58, 241, 232);
    /* padding: 5%; */
    width: 90%;
    min-width: 90%;
    height: 20%;
    border-radius: 10%;
    text-align: center;
    font-size: .60rem;
}

.footer{
    display: flex;
    justify-content: center;
    padding:10px;
    background-color: rgb(82, 93, 93);
}

.content-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .gen-div{
      display: flex;
  }
  .wd-75{
    width: 75%;
  }
 .shipping-informations{
     background-color: gainsboro;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width:100%;
     

 }
 /* .shipping-informations .form-group{
     min-width: 80%;
 } */
 .shipping-informations .form-field{
    min-width: 100%;
}
.shipping-informations .fieldWrapper{
    min-width: 100%;
}
 .shipping-informations .form-field input{
    box-sizing: border-box;
    text-align: center;
    
    
    border-radius: 5px 5px;
    margin: 0;
    /* padding: 2px; */
    padding-left: 20px;
    padding-right: 20px;
    min-width: 100%;
    min-height: 40px;
    color: rgb(31, 27, 27) !important;
    font-size: .70em;
    background: rgba(255,255,255,.08);
    border-style: none;
    box-shadow: 0 0 0 1px rgb(172, 187, 187);
    outline: none;
 }
 .shipping-informations .field-n-label{
    width: 100%;
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     border-radius: 5px 5px;
     box-shadow: 0 0 0 1px rgb(9, 94, 97);
     outline: blue;
     padding: 10px;
     margin: 10px;
 }
 .shipping-informations .field-n-label input:hover{
    box-shadow: 0 0 0 1px rgb(43, 129, 62);
 }
 .field-n-label label{
    
    font-size: .6em;
 }
 .payment{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     width: 100%;
     
     border: 2px solid green;
 }
 .payment-options{
     background-color: honeydew;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     padding:30px;
 }
 button.payment-option{
    box-sizing: border-box;
    border-radius: 15px 15px;
    margin: 10px;
    padding: 2px;
    min-width: 350px;
    min-height: 40px;
    background-color: rgb(35, 163, 185);
    color: rgb(18, 75, 77);
    border: none;
    font-family: 'David Libre', serif;
    font-size: .80em;
    text-transform: uppercase;
 }
 button.p-btn{
    box-sizing: border-box;
    border-radius: 15px 15px;
    margin: 10px;
    padding: 2px;
    min-width: 350px;
    min-height: 40px;
    background-color: rgb(35, 185, 35);
    color: rgb(18, 75, 77);
    border: none;
    font-family: 'David Libre', serif;
    font-size: .80em;
    text-transform: uppercase;
 }

 .product-details{
    display: flex;
    flex-direction: row;
    width:100%;
 }
 .pd-img-sec{
     display: flex;
     justify-content: flex-start;
     flex-direction: column;
     min-width: 40%;
     width: 40%;
 }
 .p-image{
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: white;
     border: 1px solid blue;
     padding:2px;
     min-height: 70vh;
     min-width: 100%;
     width: 100%;
     
 }
 .main-product-img{
     height:auto;
     max-height:  90%;
     width: fit-content;
     max-width: 90%;
 }
 .p-image-nav{
    margin-top: 2px;;
    min-height: 15vh;
   
    /* border: 1px solid red; */
    background-color: white;
 }
 .p-image-nav ul{
    display: flex;
    flex-direction: row;
    gap:5px;
    margin:0px;
    padding:5px;

    list-style: none;

    min-height: inherit;
    width:100%;
    min-width: 100%;
    /* border: 2px solid rgb(176, 238, 170); */
 }
 .p-image-nav li{
    width:20%;
    min-width: 20%;
    padding: 5px;
    border: 1px solid red;
    min-height: inherit;

 }
 .p-image-nav img{
     height: 100%;
     width:auto;
     max-width: 100%;
 }
 .p-details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #fff;
    min-height: 100vh;
    width: 60%;
    padding:20px;
}
.p-details h1{
    font-family: source sans pro,sans-serif;
    font-size: 26px;
    font-weight: 600;
    color: #000;
}
.product-details-info{
    padding:10px;
    font-size: .85rem;
}
.product-details-info p{
    text-align: justify;
}
@media only screen and (min-width:1201px){
    /* #about{
        background: rgb(23, 196, 124);
    } */
    .product-card{
        width: 200px;
    }
  
}
@media only screen and (min-width:1025px) and (max-width:1200px){
    /* #about{
        background: rgb(197, 175, 177);
    } */
    .product-card{
        width: 20%;
    }
}
@media only screen and (min-width:901px) and (max-width:1024px){
    /* #about{
        background: rgb(173, 24, 36);
    } */
    .product-card{
        width: 20%;
    }
}
   

@media only screen and (min-width:769px) and (max-width:900px){
    
    .product-card{
        width: 25%;
    }
    
}
@media only screen and (min-width:601px) and (max-width:768px){
    .product-card{
        width: 30%;
    }
    
}
@media only screen and (min-width:481px) and (max-width:600px){
    .product-card{
        width: 36%;
    }
  
}

@media only screen and (min-width:376px) and (max-width:480px){
    .product-card{
        width: 45%;
    }
    
}
@media only screen and (min-width:361px) and (max-width:375px){
    /* #about{
        background: rgb(241, 30, 118);
    } */
    .product-card{
        width: 70%;
    }
}
@media only screen and (min-width:321px) and (max-width:360px){
    /* #about{
        background: rgb(11, 127, 131);
    } */
    .product-card{
        width: 80%;
    }
}

@media only screen and (max-width:320px){
    /* #about{
        background: cadetblue;
    } */
    .product-card{
        width: 80%;
        height: 350px;
    }
}
